<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    <header>
        {{template "nav" .}}
    </header>
    <main>
        <section class="inventory">
            <h2>{{.PageTitle}}</h2>
            <form id="create_zone" method="POST" action="/api/content/zone/create" data-token="{{.Token}}">
                <ul>
                    <li>
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" value="">
                    </li>
                    <li>
                        <button id="new_container" name="new_container">New Container</button>
                    </li>
                    <li>
                        <button id="submit">Submit</button>
                    </li>
                </ul>
            </form>
        </section>
    </main>
    {{template "footer" .}}
</body>
</html>