<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    <header>
        {{template "nav" .}}
    </header>
    <main>
        <section class="inventory">
            <h2>Locations</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
        <section class="inventory">
            <h2>Locations</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </section>
        <section class="inventory">
            <h2>Tags</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </section>
    </main>
    {{template "footer" .}}
</body>
</html>