{{ define "nav" }}
<h1><a href="/">{{.PageTitle}}</a></h1>
<nav>
    <ul>
        <li><a href="/dashboard" data-token="{{.Token}}" data-page="dashboard" data-title="dashboard">Dashboard</a></li>
        <li><a href="/content/locations" data-token="{{.Token}}" data-page="locations" data-title="locations">Locations</a></li>
        <li><a href="#" data-token="{{.Token}}">Lists</a></li>
        <li><a href="#" data-token="{{.Token}}">Reports</a></li>
        <li><a href="/settings" data-token="{{.Token}}" data-page="settings" data-title="settings">Settings</a></li>
        {{if eq .Authenticated false}}
        <form action="" method="" id="login">
            <ul>
                <li>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" value="">
                </li>
                <li>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" value="">
                </li>
                <li>
                    <button id="login_submit">login</button>
                </li>
            </ul>
        </form>
        {{else}}
        <li><a href="/logout" data-token="{{.Token}}">Logout</a></li>
        <li>Hello {{ .User.Username }}</li>
        {{end}}
    </ul>
</nav>
{{end}}