<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    <header>
        {{template "nav" .}}
    </header>
    <main>
        <section class="inventory">
            <form action="/api/user/create" method="" id="create_user" data-token="{{.Token}}">
                <h2>{{.PageTitle}}</h2>
                <ul>
                    <li>
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" value="">
                    </li> 
                    <li>
                        <label for="password">Password:</label>
                        <input type="text" name="password" id="password" value="">
                    </li> 
                    <li>
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="text" name="confirm-password" id="confirm_password" value="">
                    </li> 
                    <li>
                        <label for="roles">Roles:</label>
                        <select name="roles" id="roles">
                            <option value="admin">admin</option>
                            <option value="user">user</option>
                            <option value="guest">guest</option>
                            <option value="buyer">buyer</option>
                        </select>
                    </li>
                    <li>
                        <label for="firstname">First Name:</label>
                        <input type="text" name="firstname" id="firstname" value="">
                    </li>
                    <li>
                        <label for="middlenames">Middle Names:</label>
                        <input type="text" name="middlenames" id="middlenames" value="">
                    </li>
                    <li>
                        <label for="lastname">Last Name:</label>
                        <input type="text" name="lastname" id="lastname" value="">
                    </li>
                    <li>
                        <label for="maidenname">Maiden Name:</label>
                        <input type="text" name="maidenname" id="maidenname" value="">
                    </li>
                    <li>
                        <label for="nameprefix">Name Prefix:</label>
                        <input type="text" name="nameprefix" id="nameprefix" value="">
                    </li>
                    <li>
                        <label for="namesuffix">Name Suffix:</label>
                        <input type="text" name="namesuffix" id="namesuffix" value="">
                    </li>
                    <li>
                        <label for="dob">DOB:</label>
                        <input type="text" name="dob" id="dob" value="">
                    </li>
                    <li>
                        <button name="submit" id="submit">submit</button>
                    </li>
                </ul>
            </form>
        </section>
    </main>
    {{template "footer" .}}
</body>
</html>